@page "/base64convertor"

<h1>Base 64 Convertor</h1>

<div class="form-group">
    <textarea class="form-control col-md-6" rows="10" placeholder="None Base64"></textarea>
    <small class="form-text text-muted">This is the value you want to encode as base64</small>
</div>